.jn-paper.section {
    border-radius: 5px;
}

.jn-paper-header.section {
    border-radius: 5px 5px 0px 0px;
}

.jn-paper-header.section .avatar {
    --ah: 55px;
    top: 55px;
    font-size: 30px;
}

.jn-paper-header.section .action {
    --ach: 55px;
    top: 55px;
}

.jn-paper-content.section {
    padding: 35px 16px 16px 16px;
    margin: -35px 0px 0px 0px;
}