.cm-gutters {
    padding-bottom: 7px;
    border-bottom-left-radius: 5px;
}

.cm-editor {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cm-scroller {
    font-family: inherit !important;
}

.code-editor-title-language-logo {
    padding-right: 5px;
}