.jn-infographics-footer {
    display: block;
    text-align: center;
}

.jn-infographics-footer .more-info {
    text-align: right;
    opacity: .7;
}

.jn-infographics-footer .copy-right {
    text-align: left;
    opacity: .7;
}


/* ------------- Flex-box CSS ---------------- */

.jn-flex-box {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.jn-flex-box-col-1,
.jn-flex-box-col-2,
.jn-flex-box-col-3,
.jn-flex-box-col-4,
.jn-flex-box-col-5 {
    width: 100%;
    padding: 5px 10px;
    margin: 2px 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (min-width:840px) {
    .jn-flex-box-col-5 {
        margin: 2px;
        width: calc(20% - 4px);
    }
    .jn-flex-box-col-4 {
        margin: 2px;
        width: calc(25% - 4px);
    }
    .jn-flex-box-col-3 {
        margin: 2px;
        width: calc(33.333% - 4px);
    }
    .jn-flex-box-col-2 {
        margin: 2px;
        width: calc(50% - 4px);
    }
    .jn-flex-box-col-1 {
        margin: 2px;
        width: calc(100% - 4px);
    }
}


/* ------------- Flex-box CSS ---------------- */