.jn-navbar {
    background: var(--C50);
    color: var(--C600);
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
    margin: 10px 0px;
    border-radius: 5px;
    position: relative;
}

.jn-navbar a {
    float: left;
    font-size: 16px;
    color: var(--C600);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: var(--C600);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


/* Add a red background color to navigation links on hover */

.jn-navbar a:hover,
.subnav:hover .subnavbtn {
    background-color: var(--C100);
}


/* Style the subnav content - positioned absolute */

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: var(--C100);
    width: 100%;
    z-index: 1;
}


/* Style the subnav links */

.subnav-content a {
    float: left;
    color: var(--C600);
    text-decoration: none;
}


/* Add a grey background color on hover */

.subnav-content a:hover {
    background-color: var(--C50);
}


/* When you move the mouse over the subnav container, open the subnav content */

.subnav:hover .subnav-content {
    display: block;
}