@import "https://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700";
.material-header {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 16px;
    height: 64px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.material-header.align-center {
    text-align: center;
}

.material-header.align-left {
    text-align: left;
}

.material-header.align-right {
    text-align: right;
}

.material-header.align-justify {
    text-align: justify;
}

.material-header:before, .material-header:after {
    content: ' ';
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.material-header .title {
    padding: 5px;
    font-size: 30px;
    font-weight: 700;
    font-variant: small-caps;
    overflow: hidden;
}

.material-header .subtitle {
    padding: 0px 5px;
    display: block;
    font-size: 16px;
    overflow: hidden;
    text-transform: uppercase;
}

.material-header .action {
    position: absolute;
    right: 16px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 20;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.material-header .avatar-container {
    position: absolute;
    padding: 5px;
    width: 54px;
    height: 54px;
    z-index: 10;
}

@media screen and (max-width: 767px) {
    .material-header {
        padding: 16px 16px 16px 80px;
    }
    .material-header .title {
        font-size: 20px;
    }
    .material-header .subtitle {
        font-size: 14px;
    }
    .material-header .action {
        display: none;
    }
}