.jn-timeline-item {
    position: relative;
    display: block;
    border-radius: 5px;
    background-color: var(--C600);
    border-color: var(--C600);
    color: var(--C50);
    padding: 15px;
    margin: 2rem 0;
    min-height: var(--height);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.jn-timeline-item::before {
    content: "";
    background-color: inherit;
    position: absolute;
    display: block;
    width: var(--unit);
    height: var(--unit);
    top: 100%;
    left: calc(50% - (var(--unit)/2));
}

.jn-timeline-item::after {
    content: "";
    position: absolute;
    display: block;
    top: calc(100% + var(--unit));
    left: calc(50% - (var(--unit)));
    border: var(--unit) solid transparent;
    border-top-color: inherit;
}

.jn-timeline-item:last-child::before,
.jn-timeline-item:last-child::after {
    content: none;
}

.jn-timeline-item-header {
    text-align: center;
    display: block;
    padding: 15px;
    margin: -10px -10px 10px -10px;
    height: 35px;
    position: relative;
    border-radius: 5px;
    background: var(--C100);
    color: var(--C800);
}

.jn-timeline-item-header .title {
    font-size: 20px;
    font-weight: 700;
    font-variant: small-caps;
    overflow: hidden;
}

.jn-timeline-item-header .subtitle {
    font-size: 12px;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    color: var(--C500);
}

.jn-timeline-item-header .avatar {
    --ah: 35px;
    display: block;
    position: absolute;
    height: var(--ah);
    width: var(--ah);
    line-height: var(--ah);
    margin: auto;
    z-index: 1;
    top: 10px;
    left: 5px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 5px;
    border: 5px solid var(--C50);
    background: var(--C200);
}

.jn-timeline-item-header .action {
    --ach: 35px;
    display: block;
    position: absolute;
    height: var(--ach);
    width: var(--ach);
    line-height: var(--ach);
    margin: auto;
    z-index: 1;
    top: 10px;
    right: 5px;
    border-radius: 5px;
    border: 5px solid var(--C50);
    background: var(--C100);
}

.jn-timeline-item-header .action button {
    padding: 0px;
}

.jn-timeline-item-header .action:hover {
    background: -webkit-linear-gradient(to top, var(--C100) 0%, var(--C100) 51%, var(--C200) 100%);
    background: -moz-linear-gradient(to top, var(--C100) 0%, var(--C100) 51%, var(--C200) 100%);
    background: linear-gradient(to top, var(--C100) 0%, var(--C200) 31%, var(--C200) 51%, var(--C50) 100%);
}

.jn-timeline-item-content {
    text-align: justify;
}

@import url('./infographicItem.css');