.jn-nav {
    background: var(--C50);
    color: var(--C600);
    font-size: 16px;
    font-weight: 400;
    font-variant: small-caps;
    margin: 10px 0px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 10px solid var(--CA100);
    position: relative;
}

.jn-nav .jn-nav-header {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    font-variant: small-caps;
    height: auto;
    padding: 5px 0px 5px 10px;
    margin-bottom: 5px;
    color: var(--C500);
    border-bottom: 2px solid var(--CA100);
}

.jn-nav .jn-nav-header .title {
    padding: 0px 0px 2px 0px;
    font-size: 20px;
    font-weight: 500;
}

.jn-nav .jn-nav-header .subtitle {
    padding: 0px 0px 2px 0px;
    text-transform: none;
    font-size: 12px;
    font-weight: 300;
    font-variant: normal;
}

.jn-nav .jn-nav-header .action {
    --ach: 35px;
    display: block;
    position: absolute;
    height: var(--ach);
    width: var(--ach);
    line-height: var(--ach);
    margin: auto;
    z-index: 1;
    top: 5px;
    font-size: 30px;
    font-weight: 900;
    right: 5px;
    border-radius: 10px;
    border: 5px solid var(--C200);
    background: var(--C100);
    text-align: center;
}

.jn-nav-content {
    margin: 0px;
    padding: 0px;
    background: var(--C50);
}

.jn-nav .jn-nav-content .action {
    --nch: 25px;
    display: none;
    height: var(--nch);
    width: var(--nch);
    line-height: var(--nch);
    margin: auto;
    font-size: 25px;
    font-weight: 900;
    border-radius: 5px;
    border: 5px solid var(--C200);
    background: var(--C100);
    text-align: center;
    margin: 5px 10px;
    float: right;
}

.jn-nav .jn-nav-link {
    text-align: left;
    text-decoration: none;
}

.jn-nav .jn-nav-link svg, .jn-sub-nav .jn-nav-btn svg {
    margin: 0px -2px -5px 0px;
}

.jn-sub-nav {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.jn-sub-nav .jn-nav-btn {
    border: none;
    outline: none;
    background-color: var(--C50);
    font-family: inherit;
    position: relative;
}

.jn-sub-nav .jn-nav-btn:after {
    content: '▼';
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: 600;
}

.jn-sub-nav .jn-nav-btn.active::after {
    content: '▲';
    top: 15px;
}

.jn-sub-nav .jn-nav-btn.active {
    background-color: var(--C100);
    border-radius: 5px 5px 0px 0px;
}

.jn-nav .jn-nav-item {
    display: block;
    padding: 16px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    color: var(--C600);
}

.jn-nav .jn-nav-divider:last-child {
    border-bottom: 0px solid;
}

.jn-sub-nav-content {
    display: block;
    border-radius: 0px 0px 5px 5px;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 200ms;
    background-color: var(--C50);
    border-top: 5px solid var(--C100);
    width: 100%;
}

@media (min-width: 621px) {
    .jn-nav .jn-nav-link:hover {
        background-color: var(--C100);
        border-radius: 5px 5px 0px 0px;
    }
    .jn-nav .jn-sub-nav:hover .jn-nav-btn:hover {
        background-color: var(--C100);
        border-radius: 5px 5px 0px 0px;
    }
    .jn-nav .jn-sub-nav:hover .jn-nav-btn:hover:after {
        top: 15px;
    }
}

@media (max-width: 620px) {
    .jn-sub-nav-content {
        margin: 5px;
        width: calc(100% - 20px);
        border-left: 5px solid var(--C100);
        border-bottom: 5px solid var(--C100);
        border-right: 5px solid var(--C100);
    }
    .jn-nav .jn-nav-link {
        margin-bottom: 0px;
    }
    .jn-sub-nav .jn-nav-btn {
        width: calc(100% - 10px);
        margin-bottom: 0px;
        text-align: left;
    }
    .jn-sub-nav .jn-nav-btn.active {
        margin-bottom: -5px;
    }
}

@import url('./navbar.css');
@import url('./accordion.css');
@import url('../common.css');