.jn-nav.navbar .jn-nav-link {
    float: left;
    text-align: center;
}

.jn-nav.navbar .jn-sub-nav {
    float: left;
}

.jn-nav.navbar .jn-sub-nav-content {
    position: absolute;
    left: 0;
    z-index: 9999;
}

.jn-nav.navbar .jn-sub-nav .jn-nav-btn {
    margin-bottom: -5px;
}

.jn-nav.navbar .jn-sub-nav .jn-nav-btn:after {
    display: none;
}

.jn-nav.navbar .jn-nav-header {
    display: none;
    border-bottom: 0px solid var(--CA100);
}

.jn-nav.navbar .jn-nav-item {
    padding: 16px 8px;
    margin: 5px 0px;
}

@media (max-width: 620px) {
    .jn-nav.navbar .jn-nav-content {
        display: none;
    }
    .jn-nav.navbar .jn-nav-content.active {
        display: block;
    }
    .jn-nav.navbar .jn-nav-link {
        float: none;
        text-align: left;
    }
    .jn-nav.navbar .jn-sub-nav .jn-nav-btn {
        margin-bottom: 0px;
    }
    .jn-nav.navbar .jn-sub-nav .jn-nav-btn.active {
        margin-bottom: -5px;
    }
    .jn-nav.navbar .jn-sub-nav {
        float: none;
    }
    .jn-nav.navbar .jn-sub-nav-content {
        position: unset;
        box-shadow: 0px 0px;
    }
    .jn-nav.navbar .jn-nav-header {
        display: block;
    }
    .jn-nav.navbar .jn-nav-header.active {
        border-bottom: 2px solid var(--CA100);
    }
    .jn-nav.navbar .jn-sub-nav .jn-nav-btn:after {
        display: initial;
    }
    .jn-nav.navbar .jn-nav-item {
        padding: 16px;
        margin: 5px;
    }
    .jn-nav.navbar .jn-nav-divider {
        border-bottom: 1px solid var(--C100);
    }
}